<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmaker.mensajero" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ExitActivity"
            android:label="@string/app_name"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".RegistracionActivity"
            android:label="@string/title_activity_registracion" >
            <intent-filter>
                ​<action android:name="com.example.appmaker.mensajero.RegistracionActivity" />
                ​​​​​​​​​​​​​​​​<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerEstado"
            android:label="@string/title_activity_estado" >
            <intent-filter>
                ​<action android:name="com.example.appmaker.mensajero.VerEstado" />
                ​​​​​​​​​​​​​​​​<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigurarPerfilActivity"
            android:label="@string/title_activity_configurar_perfil" >
            <intent-filter>
                ​<action android:name="com.example.appmaker.mensajero.ConfigurarPerfilActivity" />
                ​​​​​​​​​​​​​​​​<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaUsuariosConectadosActivity"
            android:label="@string/title_activity_lista_usuarios_conectados" >
            <intent-filter>
                ​<action android:name="com.example.appmaker.mensajero.ListaUsuariosConectadosActivity" />
                ​​​​​​​​​​​​​​​​<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutentificacionActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversacionActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                ​<action android:name="com.example.appmaker.mensajero.ConversacionActivity" />
                ​​​​​​​​​​​​​​​​<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversacionesActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                ​<action android:name="com.example.appmaker.mensajero.ConversacionesActivity" />
                ​​​​​​​​​​​​​​​​<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
</application>
</manifest>
