<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmaker.mensajero" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_chat_black_24dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistracionActivity"
            android:label="@string/title_activity_registracion" >
            <intent-filter>​
                <action android:name="com.example.appmaker.mensajero.RegistracionActivity" />​​​​​​​​​​​​​​​​
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerEstadoActivity"
            android:label="@string/title_activity_estado"
            android:parentActivityName=".ListasTabbedActivity" >
            <intent-filter>​
                <action android:name="com.example.appmaker.mensajero.VerEstadoActivity" />​​​​​​​​​​​​​​​​
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigurarPerfilActivity"
            android:label="@string/title_activity_configurar_perfil"
            android:parentActivityName=".ListasTabbedActivity" >
            <intent-filter>​
                <action android:name="com.example.appmaker.mensajero.ConfigurarPerfilActivity" />​​​​​​​​​​​​​​​​
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaUsuariosConectadosActivity"
            android:label="@string/title_activity_lista_usuarios_conectados" >
            <intent-filter>​
                <action android:name="com.example.appmaker.mensajero.ListaUsuariosConectadosActivity" />​​​​​​​​​​​​​​​​
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutentificacionActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="com.example.appmaker.mensajero.AutentificacionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversacionActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ListasTabbedActivity" >
            <intent-filter>
                ​<action android:name="com.example.appmaker.mensajero.ConversacionActivity" />​​​​​​​​​​​​​​​​
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversacionesActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="com.example.appmaker.mensajero.ConversacionesActivity" />​​​​​​​​​​​​​​​​
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".CheckinActivity"
            android:label="@string/title_activity_checkin"
            android:parentActivityName=".ListasTabbedActivity" >
            <intent-filter>​
                <action android:name="com.example.appmaker.mensajero.CheckinActivity" />​​​​​​​​​​​​​​​
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>​
                <action android:name="com.example.appmaker.mensajero.SettingsActivity" />​​​​​​​​​​​​​​​​
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BroadcastActivity"
            android:label="@string/title_activity_broadcast"
            android:parentActivityName=".ListasTabbedActivity" >
            <intent-filter>
                <action android:name="com.example.appmaker.mensajero.BroadcastActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListasTabbedActivity"
            android:label="@string/title_activity_listas_tabbed" >
            <intent-filter>
                <action android:name="com.example.appmaker.mensajero.ListasTabbedActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Conversacion2Activity"
            android:label="@string/title_activity_conversacion2"
            android:parentActivityName=".ListasTabbedActivity" >
            <intent-filter>
                <action android:name="com.example.appmaker.mensajero.Conversacion2Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appmaker.mensajero.ListasTabbedActivity" />
        </activity>
    </application>

</manifest>
